.navbar {
  background-color: rgb(168, 98, 51);
}
.navbar-custom .navbar-text,
.navbar-custom .navbar-text:not(.collapsed) {
  color: rgba(255, 255, 255, 0.8);
}
.navbar-custom .navbar-text:hover {
  color: rgba(194, 183, 119, 0.74);
}

.nav-link:hover {
  background-color: rgb(46, 20, 3);
  border-color: rgb(46, 20, 3);
  border-radius: 5px;
}
.btn-custom {
  background-color: white;
  border: 3px solid rgb(46, 20, 3);
  color: rgb(46, 20, 3);
  border-radius: 5px;
  height: 45px;
}

.btn-custom:hover {
  background-color: rgb(46, 20, 3);
  border: 3px solid rgb(46, 20, 3);
  color: white;
  border-radius: 5px;
}

.d-flex {
  margin: 2px;
}

.container {
  position: absolute;
  top: 44%;
  width: 100%;
  padding: 0 10px;
}
.contact-form {
  max-width: 550px;
  margin-left: 55%;
  background: rgba(168, 98, 51, 0.7);
  padding: 30px;
  border-radius: 5px;
  display: flex;
}
.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}
.input-fields,
.msg {
  width: 48%;
}
.input-fields .input,
.msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid blanchedalmond;
  padding: 10px;
  color: white;
  width: 100%;
}
.msg textarea {
  height: 178px;
}
::placeholder {
  color: blanchedalmond;
}
.btn2 {
  background: blanchedalmond;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  color: rgb(46, 20, 3);
}
.btn2 :hover {
  background-color: rgb(168, 98, 51);
}
.choice {
  position: absolute;
  margin-left: 46%;
}
