.navbar {
  background-color: rgb(168, 98, 51);
}
.navbar-custom .navbar-text,
.navbar-custom .navbar-text:not(.collapsed) {
  color: rgba(255, 255, 255, 0.8);
}
.navbar-custom .navbar-text:hover {
  color: rgba(194, 183, 119, 0.74);
}

.nav-link:hover {
  background-color: rgb(46, 20, 3);
  border-color: rgb(46, 20, 3);
  border-radius: 5px;
}
.btn-custom {
  background-color: white;
  border: 3px solid rgb(46, 20, 3);
  color: rgb(46, 20, 3);
  border-radius: 5px;
  height: 45px;
}

.btn-custom:hover {
  background-color: rgb(46, 20, 3);
  border: 3px solid rgb(46, 20, 3);
  color: white;
  border-radius: 5px;
}

.d-flex {
  margin: 2px;
}
